<aside id="left-panel">

 <div class="login-info ng-cloak">
  <span>
    <a href="" toggle-shortcut>
      <img ng-src="styles/img/avatars/male.png" alt="me" class="online">
        
      <i class="fa fa-angle-down"></i>
    </a>
  </span>  
</div>

  <nav>

    <ul data-smart-menu>
      
      <li data-ui-sref-active="active">
        <a data-ui-sref="app.student" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Students</span>
        </a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="app.boys" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Boys</span>
        </a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="app.girls" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Girls</span>
        </a>
      </li>
    </ul>    
  </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>
